
section {
	display: none;
}

.active-section {
	display: initial;
	@media(min-width: 768px) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
}

h1 {
	font-size: 24px;
	font-weight: bold;
	margin: 12px 0 8px 0;
	@media(min-width: 768px) {
		font-size: 32px;
		margin: 12px 0 6px 0;
	}
}

.content__instruction {
	font-size: 16px;
	line-height: 25px;
	color: var(--neutral-a);
	margin: 8px 0 22px 0;
	@media(min-width: 768px) {
		margin: 6px 0 32px 0;
	}
}

/* LAYOUT CHOOSE PLAN SECTION / CHOOSE EXTRAS SECTION */

.choose-plan__upper-form, .choose-extras__form-content {
	display: flex;
	margin-top: 4px;
	flex-direction: column;
	gap: 12px;
	margin-bottom: 16px;
	.label-title {
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 4px;
	}
	.label-description {
		font-size: 14px;
		color: var(--neutral-a);
		margin-bottom: 4px;
	}
	.label-attribute {
		font-size: 12px;
	}
	.label-attribute.--inactive {
		display: none;
	}
	.label-additional {
		font-size: 12px;
		color: var(--primary-b);
		position: absolute;
		top: 50%;
		right: 16px;
		transform: translate(0, -50%);
	}
}

.choose-plan__upper-form {
	@media(min-width: 768px) {
		flex-direction: row;
		gap: 16px;
		margin-bottom: 32px;
	}
}

/* LAYOUT PAYMENT INTERVAL TOGGLE SWITCH */
.content__switch-interval {
	height: 48px;
	width: 100%;
	background: var(--neutral-c);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	.indicator {
		font-size: 16px;
		font-weight: 500;
	}
	.indicator.--inactive {
		font-size: 16px;
		font-weight: 500;
		color: var(--neutral-a);
	}
}

/* LAYOUT OVERVIEW */
.overview__box {
	background: var(--neutral-c);
	margin-bottom: 22px;
	border-radius: 6px;
	padding: 16px;
	@media(min-width: 768px) {
		padding: 18px 22px 22px 22px;
		margin-bottom: 0;
	}
}

.overview__box, .overview__total{
	font-size: 14px;
}

.overview__plan, .overview__extra.active, .overview__total {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.overview__plan {
	div {
		display: flex;
		flex-direction: column;
	}
	span {
		font-weight: 500;
	}
	a {
		color: var(--neutral-a);
		margin-top: 4px;
		transition: color 0.3s;
	}
	a:hover {
		color: var(--primary-b);
	}
	@media(min-width: 768px) {
		span:nth-of-type(1) {
			font-size: 16px;
		}
	}
}

hr {
	margin: 14px 0 12px 0;
	border: 1px solid var(--neutral-b);
	@media(min-width: 768px) {
		margin: 22px 0 22px 0;
	}
}

hr.invisible {
	display: none;
}

.overview__extras {
	display: flex;
	flex-direction: column;
	gap: 14px;
	@media(min-width: 768px) {
		gap: 18px;
	}
}

.overview__extra {
	display: none;
	span:nth-child(1) {
		color: var(--neutral-a);
	}
}

.overview__total {
	padding: 0 12px;
	margin: 26px 0 10px 0;
	span:nth-child(1) {
		color: var(--neutral-a);
	}
	.price-info {
		color: var(--primary-b);
		font-weight: 500;
		@media(min-width: 768px) {
			font-size: 20px;
		}
	}
}

/* LAYOUT THANK YOU */

.thank-you.active-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 54px 0 30px 0;
	@media(min-width: 768px) {
		margin: auto;
	}
	img {
		width: 56px;
		height: 56px;
		@media(min-width: 768px) {
			width: 80px;
			height: 80px;
		}
	}
	h1 {
		margin: 24px 0 2px 0;
		@media(min-width: 768px) {
			margin: 32px 0 12px 0;
		}
	}
	p {
		text-align: center;
	}
}

/* BUTTON AREA */

.content__button-wrapper {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 72px;
	background: var(--neutral-e);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px;
	box-shadow: -10px 0 20px rgba(100, 100, 100, 0.1);
	@media (min-width: 768px) {
		position: relative;
		height: auto;
		width: 100%;
		background: none;
		padding: 0;
		align-items: end;
		flex-grow: 1;
		box-shadow: none;
	}

	button {
		height: 40px;
		font-size: 14px;
		font-weight: 500;
		cursor: pointer;
		font-family: inherit;
		border: none;
		background: none;
		transition: all 0.3s;
		@media (min-width: 768px) {
			height: 48px;
			font-size: 16px;
		}
	}

	.button-next {
		background: var(--primary-a);
		color: var(--neutral-e);
		border-radius: 6px;
		padding: 10px 14px;
		@media (min-width: 768px) {
			padding: 12px 24px;
			border-radius: 8px;
		}
	}

	.button-next:hover {
		background: darkblue;
	}

	#button-confirm.button-next {
		background: var(--primary-b);
	}

	#button-confirm.button-next:hover {
		background: #8383ff;
	}

	.button-back {
		color: var(--neutral-a);
		background: none;
		padding: 10px 0;
		@media (min-width: 768px) {
			padding: 12px 0;
		}
	}

	.button-back:hover {
		color: black;
	}
}

