
section {
	display: none;
}

.active-section {
	display: initial;
	@media(min-width: 768px) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
}


h1 {
	font-size: 24px;
	font-weight: bold;
	margin: 12px 0 8px 0;
	@media(min-width: 768px) {
		font-size: 32px;
		margin: 12px 0 6px 0;
	}
}

.content__instruction {
	font-size: 16px;
	line-height: 25px;
	color: var(--neutral-a);
	margin: 8px 0 22px 0;
	@media(min-width: 768px) {
		margin: 6px 0 32px 0;
	}
}

/* LAYOUT CHOOSE PLAN SECTION / CHOOSE EXTRAS SECTION */

.content__choose-plan, .content__choose-extras {
	display: flex;
	margin-top: 4px;
	flex-direction: column;
	gap: 12px;
	margin-bottom: 16px;
	.label-title {
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 4px;
	}
	.label-description {
		font-size: 14px;
		color: var(--neutral-a);
		margin-bottom: 4px;
	}
	.label-attribute {
		font-size: 12px;
	}
	.label-additional {
		font-size: 12px;
		color: var(--primary-b);
		position: absolute;
		top: 50%;
		right: 16px;
		transform: translate(0, -50%);
	}
}

.content__choose-plan {
	@media(min-width: 768px) {
		flex-direction: row;
		gap: 16px;
		margin-bottom: 32px;
	}
}

/* LAYOUT PAYMENT INTERVAL TOGGLE SWITCH */

.content__switch-interval {
	height: 48px;
	width: 100%;
	background: var(--neutral-c);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	span {
		font-size: 16px;
		font-weight: 500;
	}
	span.--active {
		font-size: 16px;
		font-weight: 500;
		color: var(--neutral-a);
	}
}

/* BUTTON SECTION */

.content__button-wrapper {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 72px;
	background: var(--neutral-e);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px;
	@media(min-width: 768px) {
		position: relative;
		height: auto;
		width: 100%;
		background: none;
		padding: 0;
		align-items: end;
		flex-grow: 1;
	}
}

button {
	height: 40px;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	font-family: inherit;
	border: none;
	background: none;
	@media(min-width: 768px) {
		height: 48px;
		font-size: 16px;
	}
}

.button-next {
	background: var(--primary-a);
	color: var(--neutral-e);
	border-radius: 6px;
	padding: 10px 14px;
	@media(min-width: 768px) {
		padding: 12px 24px;
		border-radius: 8px;
	}
}

.button-back {
	color: var(--neutral-a);
	background: none;
	padding: 10px 0;
	@media(min-width: 768px) {
		padding: 12px 0;
	}
}
