ol {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 18px;
	padding: 0;
	margin-top: 30px;
	list-style-type: none;
	counter-reset: ordered-list;
	@media(min-width: 768px) {
		flex-direction: column;
		gap: 30px;
		margin-top: 38px;
		margin-left: 82px;
	}

	li {
		position: relative;
		span {
			display: none;
			@media(min-width: 768px) {
				display: flex;
				text-transform: uppercase;
			}
		}
		.sidebar__step-indicator {
			font-size: 12px;
			margin-bottom: 2px;
			color: var(--primary-c);
		}
		.sidebar__step-name {
			font-size: 14px;
			font-weight: 500;
			color: var(--neutral-e);
		}
	}

}
ol li::before {
	content: counter(ordered-list);
	counter-increment: ordered-list;
	height: 33px;
	width: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--neutral-e);
	color: var(--neutral-e);
	border-radius: 50%;
	font-size: 14px;
	font-weight: 500;
	@media(min-width: 768px) {
		position: absolute;
		left: -50px;
	}
}

ol li.active-section::before {
	background: var(--primary-c);
	border: none;
	color: var(--primary-a);
}
